<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <script src="js/vue.js"></script>
    <title>Captive Portal</title>

</head>

<body>
<div id="app">
    <h1>{{title}}</h1>
    <h2>WiFi Networks</h2>
    <div v-for="ap in availableNetworks">
        <div class="network available" :class="{known: ap.known, connected: ap.connected}" @click="selectNetwork(ap)" >
            <div class="bookmark" v-if="ap.known">&starf;</div>
            <span class="ssid">{{ap.ssid}}</span>
            <span class="encryption" v-if="ap.encrypted" >&#x1F512;</span>
            <span class="rssi">{{ap.rssi}}</span>
            <div class="del" v-if="ap.known" @click.stop="deleteNetwork(ap)">X</div>
        </div>
    </div>
    <span v-if="knownNetworks.length>0"><i>not in reach</i></span>
    <div v-for="ap in knownNetworks"  @click="selectNetwork(ap)" >
        <div class="network known" >
            <div class="bookmark" v-if="ap.known">&starf;</div>
            <span class="ssid">{{ap.ssid}}</span>
            <span class="encryption" v-if="ap.encrypted" >&#x1F512;</span>
            <div class="del" v-if="ap.known" @click.stop="deleteNetwork(ap)">X</div>
        </div>
    </div>
    <br>
    <button @click.stop="scanNetworks">Scan</button>

    <h2>Add Network</h2>
    <form @submit.prevent="addNetwork">
        <div>
            <label>SSID:</label> <input id="ssid" type="text" name="ssid" autocomplete="on" v-model="form.ssid">
        </div>
        <div>
            <label>Password:</label> <input id="pwd" :type="form.showPwd ? 'text' : 'password'" name="pwd" autocomplete="on" v-model="form.pwd"><div class="showPwd" @click.stop="form.showPwd = !form.showPwd">&#x1f441;</div>
        </div>
        <button :disabled="!form.ssid">Connect</button>
    </form>

    <div class="modal" v-show="wait">
        <div class="background"></div>
        <div class="spinner"></div>
    </div>
</div>

<script>
        var app = new Vue({
          el: '#app',
          data: {
            title: 'SparkMaker - Captive',
            networks: [],
            form: {
                ssid: "",
                pwd: "",
                showPwd: false
            },
            wait: true
          },
          computed: {
            availableNetworks() {
                return this.networks.filter(item => (item.rssi < 0));
            },
            knownNetworks() {
                return this.networks.filter(item => (!item.rssi && item.known));
            }
          },
          mounted() {
                fetch("http://192.168.0.202/c/scan")
                    .then(response => response.json())
                    .then(json => {
                        // update network list
                        this.networks = json;
                        this.wait = false;
                })
          },
          methods: {
            scanNetworks() {
                this.wait = true;
                fetch("http://192.168.0.202/c/scan")
                    .then(response => response.json())
                    .then(json => {
                        // update network list
                        this.networks = json;
                        this.wait = false;
                })
            },
            selectNetwork(ap) {
                console.log("select: " + ap.ssid);
                this.form.ssid = ap.ssid;
                this.form.pwd = "";
                document.getElementById("pwd").focus();
            },
            addNetwork() {
                // send new credentials
                this.wait = true;
                var formData = new FormData();
                formData.append("ssid", this.form.ssid);
                formData.append("pwd", this.form.pwd);
                fetch("http://192.168.0.202/c/add", {method: 'POST', body: formData})
                    .then(response => response.json())
                    .then(json => {
                        // update network list
                        this.networks = json;
                        this.wait = false;
                })
                this.form.ssid = "";
                this.form.pwd = "";
            },            
            deleteNetwork(del) {
                // remove from known networks
                if ( confirm("Remove '" + del.ssid + "'?") ) {
                    this.wait = true;
                    var formData = new FormData();
                    formData.append("ssid", del.ssid);
                    fetch("http://192.168.0.202/c/del", {method: 'POST', body: formData})
                        .then(response => response.json())
                        .then(json => {
                            // update network list
                            this.networks = json;
                            this.wait = false;
                        })
                }
            }      
          }
        })    
</script>
</body>
</html>