<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<script src="js/vue.js"></script>
	<title>SparkMaker FHD</title>
</head>
<body>
	<div id="app">
		<h1>{{title}}</h1>
		<h2>Status</h2>
		<div class="center">
		<div>{{statusResponse}}</div>
		<button @click="update">update</button><br>
		<button @click="connect">connect</button><br>
		<button @click="disconnect">disconnect</button><br>
		</div>
		<h2>Move</h2>
		<div class="center">
			<button @click="move(50)">+50</button><br>
			<button @click="move(10)">+10</button><br>
			<button @click="move(5)">+5</button><br>
			<button @click="home">Home</button><br>
			<button @click="move(-5)">-5</button><br>
			<button @click="move(-10)">-10</button><br>
			<button @click="move(-50)">-50</button><br>
		</div>
		
		<h2>Debug Tools</h2>
		<div class="center">
			URL: <input type="text" v-model="url"></input> <br>
			<hr>
			<button @click="requestStatus">Request Status</button><br>
			<hr>
			<button @click="start">Print</button>
			<button @click="stop">Stop</button>
			<button @click="pause">Pause</button>
			<button @click="resume">Resume</button><br>
			<button @click="emergency">Emergency Stop</button><br>
			<hr>
			<input type="text" v-model="customCmd"  @keydown.enter="customCmd"></input> <button @click="sendCmd">send</button><br>
		</div>
	</div>

	<script>
		var app = new Vue({
			el: "#app",
			data: {
				title: "SparkMaker FHD",
				url: "http://sparkmaker.local",
				statusResponse: "...",
				customCmd: "",
			},
			computed: {
			},
			mounted() {
			},
			methods: {
				connect() {
					fetch(this.url + "/connect");
				},
				disconnect() {
					fetch(this.url + "/disconnect");
				},
				update() {
					var formData = new FormData();
					fetch(this.url + "/status")
						.then(response => response.json())
						.then(json => {
							this.statusResponse = json;
						})
						.catch(err => {});
				},
				requestStatus() {
					fetch(this.url + "/requestStatus");
				},
				home() {
					fetch(this.url + "/home");
				},
				move(pos) {
					var formData = new FormData();
					formData.append("pos", pos);
					fetch(this.url + "/move", { method: 'POST', body: formData });
				},
				backlight(pwm) {
					var formData = new FormData();
					formData.append("cmd", "M106 S" + pwm + ";");
					fetch(this.url + "/send", { method: 'POST', body: formData });
				},
				emergency() {
					fetch(this.url + "/emergencyStop");
				},
				start() {
					fetch(this.url + "/print");
				},
				stop() {
					fetch(this.url + "/stop");
				},
				pause() {
					fetch(this.url + "/pause");
				},
				resume() {
					fetch(this.url + "/resume");
				},
				sendCmd() {
					var formData = new FormData();
					formData.append("cmd", this.customCmd);
					fetch(this.url + "/send", { method: 'POST', body: formData });
				}

			}
		})    
	</script>
</body>

</html>