body {
    margin: 3em auto;
    width: 30em;
    max-width: 95%;
    font-family: Arial, sans-serif;
    position: relative;
    cursor: default;
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
.background {
    position: fixed;
    background: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.spinner {
    position: relative;
    width: 8em;
    height: 8em;
    margin: 15em auto;
    z-index: 10;
    border-radius: 100%;
    border-top: cyan 0.8em solid;
    animation: sk-scaleout 2.0s infinite  ease-in-out;
}
.spinner::after {
    content: "";
    width: 50%;
    height: 50%;
    border-radius: 100%;
    border-top: cyan 0.8em solid;
    display: block;
    margin: 15% auto;  
    animation: sk-scaleout 2.0s infinite ease-in-out;
}
@keyframes sk-scaleout {
    0% { transform: scale(0.3); }
    100% { transform: scale(1.4); opacity: 0.2; }
}

[contenteditable]::after {
    content: "\1F589";
    opacity: 0.5;
    position: absolute;
    padding-left: 1em;
    font-size: 66%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 1.5em;
    padding: 0.2em;

    border: gray solid 1px;
    border-radius: 0.3em;
    background: darkcyan;
    color: #f0f0f0;
}

.network {
    border: lightgray solid 1px;
    border-radius: 0.3em;
    margin: 0.5em;
    padding: 0.75em 1.5em;
    background: #f8f8f8;
}
.network > span {
    margin: 0 0.1em;
}

.available {
    background: lightcyan;
}

.known {
    font-weight: bold;
}

.connected {
    background: lightgreen !important;
}

.connectedIcon {
    display: inline-block;
    position: absolute;
    left:1em;    
}

.rssi {
    font-weight: normal;
    font-size: 75%;
}
.rssi::after {
    content: "dB";
}

.bookmark {
    display: inline-block;
}

.del {
    display: inline-block;
    position: absolute;
    color: darkred;
    font-weight: bold;
    right: 0;
    padding: 0.1em;
    width: 3em;
    text-align: center;
    font-size: 120%;
    cursor: pointer;    
}

.showPwd {
    display: inline-block;
    position: absolute;
    color: gray;
    font-weight: bold;
    right: 0em;
    top: 0em;
    font-size: 175%;    
    cursor: pointer;
}

label {
    display: inline-block;
    font-style: italic;
    width: 5em;
    margin: 0.5em;
}
.input {
    display: inline-block;
    width: 65%;
    margin: 0.3em 0em;
    position: relative;
}
input {
    display: inline-block;
    font-size: 110%;
    padding: 0.3em;
    margin: 0em;
    width: 100%;
}
button {
    border-radius: 0.3em;
    background: green;
    color: #f0f0f0;
    display: block;
    font-size: 120%;
    margin: 0.5em auto;
    padding: 0.3em;
    width: 8em;
    text-align: center;
}
button:disabled {
    background: gray;
    color: darkgray;
}
